PYTHON_EXE=C:\Users\Saurabh\AppData\Local\Programs\Python\Python312\python.exe
FFMPEG_EXE=C:\Users\Saurabh\Documents\AutoVideoAgent\old_videoAgent\tools\ffmpeg\ffmpeg-8.1.1-essentials_build\bin\ffmpeg.exe
LINES_FILE=C:\Users\Saurabh\Documents\AutoVideoAgent\data\lines.txt
MUSIC_FILE=C:\Users\Saurabh\Documents\AutoVideoAgent\assets\music\bg.mp3
FONT_FILE=C:\Windows\Fonts\arial.ttf
LOGO_FILE=C:\Users\Saurabh\Documents\AutoVideoAgent\assets\logo\sample_logo.png
OUTPUT_DIR=C:\Users\Saurabh\Documents\AutoVideoAgent\output
DB_FILE=C:\Users\Saurabh\Documents\AutoVideoAgent\data\state.sqlite3
META_CONFIG_FILE=C:\Users\Saurabh\Documents\AutoVideoAgent\config\meta_config.json
POST_INTERVAL_HOURS=2
POST_TO_FACEBOOK=true
